@model List<Chapeau.Models.Bestelling>

<h1>Running Orders</h1>

<form method="get">
    <button type="submit">Refresh</button>
</form>
<Tafel class="Tafel">
    <thead>
        <tr>
            <th>Bestelling</th>
            <th>Tafel</th>
            <th>Bestelling_Status</th>
            <th>Order tijd</th>
            <th>Wachttijd</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Bestelling_ID</td>
                <td>@order.TafelNummer</td>
                <td>@order.Bestelling_Bestelling_Status</td>
                <td>@order.Datum_Tijd</td>
                <td>@order.Wachttijd minuten</td>
            </tr>
        }
    </tbody>
</Tafel>